.blog-header-image{
  width:100%;
  height:300px;
  background-size: cover;
  background-position:center;
}
.blog-preview {
  .preview {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    .headline {
      position: absolute;
      bottom: 0;
      background-color: #162547;
      padding: 20px;
      font-size: .8em;
      line-height: .9;
      a {
        color: white;
      }
    }
  }
}

ul.tags{
  margin:0;
  padding:0;
  list-style:none;
  li, a{
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
  }
  a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#008CBA;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    &:before{
      content:"";
      float:left;
      position:absolute;
      top:0;
      left:-12px;
      width:0;
      height:0;
      border-color:transparent #008CBA transparent transparent;
      border-style:solid;
      border-width:12px 12px 12px 0;
    }
    &:after{
      content:"";
      position:absolute;
      top:10px;
      left:0;
      float:left;
      width:4px;
      height:4px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      border-radius:2px;
      background:#fff;
      -moz-box-shadow:-1px -1px 2px #004977;
      -webkit-box-shadow:-1px -1px 2px #004977;
      box-shadow:-1px -1px 2px #004977;
    }
    &:hover{
      background:#555;
    }
    &:hover:before{
      border-color:transparent #555 transparent transparent;
    }
  }
}
